<div class="container">
  <h1>See you on board</h1>
  <%= image_tag "cruize.jpg", class: "booking-picture"%>

  <div class="booking-container">

    <div class="heading-content">
      <h3>Thanks god, you will finaly live your best life !!!</h3>
    </div>

    <div class="booking-details">
      <h5>Your booking details:</h5>
        <p>
          <%= image_tag "yacht_icon.png", class: "booking-icon"%>  <%= @booking.yacht.name %>.
        </p>
        <p>
          <%= image_tag "anchor.png", class: "booking-icon"%> <%= @booking.yacht.address %>.
        </p>
        <p>
          <%= image_tag "people.png", class: "booking-icon"%> <%= @booking.voyager %> pers.
        </p>
        <p>
          <%= image_tag "calendar.png", class: "booking-icon"%>  From <%=  %> to <%= @booking.end_date %>.
        </p>
        <p>
          <%= image_tag "people.png", class: "booking-icon"%> <%= number_to_currency(@yacht.price * (@booking.end_date.day - @booking.start_date.day), unit: "€", format: "%n %u") %>.
        </p>
    </div>
  </div>
</div>
