<div class="container">
  <div class="form-wrapper">
    <div class="input-form booking-form-content">
      <%= simple_form_for [@yacht, @booking] do |f| %>
      <div class="passengers">
        <%= f.input :voyager, label: "Number of passengers:",
                             as: :integer,
                             required: false %>
      </div>
      <div class="calendar">
        <%= f.input :start_date, label: "Save your dates:",
                               as: :string,
                               required: false,
                               input_html: { id: "range_start", class: "d-none"} %>
      <%= f.input :end_date, label: false,
                             as: :string,
                             required: false,
                             input_html: { id: "range_end", class: "d-none" } %>
      </div>
      <div class="booking-button">
        <%= f.button :submit, "Book", class: "booking-form-button" %>
      </div>

    <% end %>
    </div>

  </div>
</div>
