<nav>
  <div class="nav-logo">
    <a href="#" class="nav-icon" aria-label="visit homepage" aria-current="page" data-controller="navbar" data-action="#">
      <%= link_to image_tag ("boat.png"), :controller => 'top_yachts', :class => 'dock-item'%>
      <span>Yachtbnb</span>
    </a>
  </div>

    <% if user_signed_in? %>
      <div class="nav-item dropdown">
        <%= image_tag "cousteau.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <a href="#">Profile</a>
          <%= link_to 'Your yachts', yachts_path %>
          <%= link_to 'Add a yacht', new_yacht_path %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        </div>
      </div>
    <% else %>
      <div class="sign-btns">
          <%= link_to "Sign in / Sign up", create_path, class: "sign-btn" %>
      </div>
    <% end %>

</nav>

<!--<div class="main-navlinks">
    <button class="hamburger" type="button" aria-label="Toggle navigation" aria-expanded="false">
      <span></span>
      <span></span>
      <span></span>
    </button>-->
