<nav class="anim-nav">
  <div class="nav-logo">
    <p class="nav-icon anim-icon">
      <%= link_to "Yachtbnb", root_path, class: "nav-link" %>
    </p>
  </div>

    <% if user_signed_in? %>
      <div class="nav-item dropdown anim-item">
        <%= image_tag "user.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <a href="#">Profile</a>
          <%= link_to 'Your reservations', bookings_path %>
          <%= link_to 'Add a yacht', new_yacht_path %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        </div>
      </div>
    <% else %>
      <div class="sign-btns">
          <%= link_to "Sign in / Sign up", new_user_session_path, class: "sign-btn" %>
      </div>
    <% end %>
</nav>
