<div class="form-wrapper new-yacht-form">
    <%= simple_form_for(yacht) do |f| %>
      <div class="form-content">
        <div class="form-input">
          <%= f.input :name,
                      autofocus: true %>
        </div>
        <div class="form-input">
          <%= f.input :address,
                      autofocus: true,
                      input_html: { data: { geocoder_target: "address" }, class: "d-none" },
                      wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'] } } %>
        </div>
        <div class="form-input">
          <%= f.input :price,
                      autofocus: true %>
        </div>
        <div class="form-input">
          <%= f.input :description,
                      autofocus: true %>
        </div>
        <div class="form-input">
          <%= f.input :voyager,
                      autofocus: true %>
        </div>

        <div class="form-input">
          <%= f.input :photo, as: :file, label: "featured photo" %>
        </div>

        <div class="form-input">
          <%= f.input :photos, as: :file,
          label: "secondary photo", input_html: {multiple: true}  %>
        </div>

        <div class= "form-button">
          <%= f.button :submit, "Submit", class: "form-button-text"%>
        </div>
      </div>
    <% end %>
  </div>
