<div class="form-container">
  <div class="form-wrapper">
    <h2>New yacht</h2>
    <%= simple_form_for(@yacht) do |f| %>
      <div class="form-inputs">
        <%= f.input :name,
                    required: true,
                    autofocus: true %>
        <%= f.input :address,
                    required: true,
                    autofocus: true %>
        <%= f.input :price,
                    required: true,
                    autofocus: true %>
        <%= f.input :description,
                    required: true,
                    autofocus: true %>
        <%= f.input :voyager,
                    required: true,
                    autofocus: true %>
      </div>

      <div class="sign-btns">
        <%= f.submit "créer un yacht", class: "add-btn"%>
      </div>
    <% end %>
  </div>
</div>
