<%# <%= @yacht.name %>
<%# <%= @yacht.address %>
<%# <%= @yacht.price %>
<%# <%= @yacht.description %>

<div class="card">
  <div class="card-front">
    <p><%= @yacht.name %></p>
      <%= image_tag "yacht.jpg", class: "yacht-img-show"%>
        <div class="card-price">
          <span><%= @yacht.price%>€ / day</span>
            <br>
            <p><%= @yacht.address%></p>
            <p class="description"><%= @yacht.description%></p>
            <p><%= @yacht.stars%> stars</p>
        </div>
        <div>
        <%= render 'shared/booking_form' %>
        </div>
  </div>
</div>
<div id="booking-form-div"
     data-bookings="<%= @bookings_dates.to_json %>">
</div>
