<div class="container">
  <h1>
    <%= @yacht.name.capitalize %>
  </h1>

  <div class="row">
    <div class="column">
      <div class="heading-content">
        <h3>One of best</h3>
      </div>
      <div class="pictures-container">
        <%= image_tag "yacht_loc.jpg", class: "yacht-img-show"%>
      </div>
    </div>

    <div class="column">
      <div class="heading-content">
        <h3>Have a swim</h3>
      </div>
      <div class="pictures-container">
        <%= image_tag "pool.jpg", class: "yacht-img-show"%>
      </div>
    </div>

    <div class="column">
      <div class="heading-content">
        <h3>Enjoy your nights</h3>
      </div>
      <div class="pictures-container">
        <%= image_tag "bedroom.jpg", class: "yacht-img-show"%>
      </div>
    </div>

    <div class="column">
      <div class="heading-content">
        <h3>Take some rest</h3>
      </div>
      <div class="pictures-container">
        <%= image_tag "living.jpg", class: "yacht-img-show"%>
      </div>
    </div>

    <div class="column">
      <div class="heading-content">
        <h3>Invite your friends</h3>
      </div>
      <div class="pictures-container">
        <%= image_tag "interior.jpg", class: "yacht-img-show"%>
      </div>
    </div>

    <div class="column">
      <div class="infos-content">
        <h3>Yacht infos</h3>
      </div>
      <div class="infos-container details">
        <div class="infos-text">
          <h5>Details:</h5>
          <p>
            <%= image_tag "description.png", class: "yacht-icon"%> <%= @yacht.description%>.
          </p>
          <p>
            <%= image_tag "price.png", class: "yacht-icon"%> <%= @yacht.price%>€ / day.
          </p>
          <p>
            <%= image_tag "people.png", class: "yacht-icon"%>  8 pers.<%= @booking.voyager %>
          </p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="infos-content">
        <h3>Book your yacht</h3>
      </div>
      <div class="infos-container booking-form">
        <div class="infos-text">
          <%= render 'shared/booking_form' %>
          <div id="booking-form-div" data-bookings="<%= @bookings_dates.to_json %>">
        </div>
      </div>
  </div>
</div>

<%# <%= @yacht.name %>
<%# <%= @yacht.address %>
<%# <%= @yacht.price %>
<%# <%= @yacht.description %>

<!--<div class="card">
  <div class="card-front">
    <p><%= @yacht.name %></p>
      <%= image_tag "yacht.jpg", class: "yacht-img-show"%>
        <div class="card-price">
          <span><%= @yacht.price%>€ / day</span>
            <br>
            <p><%= @yacht.address%></p>
            <p><%= @yacht.voyager%> voyager max</p>
            <p class="description"><%= @yacht.description%></p>
            <p><%= @yacht.stars%> stars</p>
        </div>
        <div>

        </div>
  </div>

<div id="booking-form-div"
     data-bookings="<%= @bookings_dates.to_json %>">
</div>
