<div class="container">
  <h1>
    <span>Stop dreaming your life</span>
    <span>live your dreams</span>
  </h1>

  <div class="top-bar-container">
    <div class="list-btn">
      <%= link_to "See all the yachts", yachts_path, class: "btn-index" %>
    </div>
    <span class="separation">|</span>
    <div class="search-box">
      <button class="btn-search"><i class="fas fa-search"></i></button>
      <input type="text" class="input-search" placeholder="Type to Search...">
    </div>
    <!--<div class="search-box">
      <%= form_tag(yachts_path, method: :get) do %>
      <%= text_field_tag(:search_by_rate, params[:search_by_rate]) %>
      <button name="button" type="submit">
      <%= submit_tag ("Search") %>
      </button>
      <% end %>
      <%= button_to "Clear this search", yachts_path, method: :get, class: "btn" %>
      </div>-->
  </div>

  <div class="card-container">
    <% @yachts.each do |yacht| %>
      <div class="card-wrapper">
        <div class="card">
          <div class="card-front">
            <p><%= yacht.name %></p>
            <%= image_tag "yacht.jpg", class: "yacht-img"%>
            <div class="card-price">
              <span><%= yacht.price%>€ / day</span>

            </div>
            <div class="ranking-info">
              <span><!--<%= yacht.stars%>--><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></span>
            </div>
            <i class="arrow-icon fas fa-arrow-right"></i>
          </div>
          <!--link to yacht show-->
          <div class="card-back">
            <%= link_to 'Rent this yacht', yacht_path(yacht), class: "btn" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
