    <div class="container">
  <h1>
    <span>Stop dreaming your life,</span>
    <span>live your dreams...</span>
  </h1>

  <div class="top-bar-container">
   <!-- <div class="search-box">
      <input type="text class="where-search" name="" value= placeholder ="Where...">
      <input type="text" class="when-search" placeholder="When...">
      <input type="text" class="with-search" placeholder="With...">
      <button class="btn-search">
        <i class="fas fa-search"></i>
      </button>
    </div>-->

    <%= form_tag(yachts_path, method: :get, class: "search-box") do %>
      <%= text_field_tag(:address, nil, class: "where-search", placeholder: "Location") %>
      <%= text_field_tag(:voyager, nil, class: "with-search", placeholder: "Passengers") %>
      <%= text_field_tag(:date, nil, class: "when-search", placeholder: "Dates") %>
      <%= button_to nil, method: :get, class: "btn", type: "submit" do %>
        <i class="fas fa-search"></i>
      <% end %>
    <% end %>
  </div>

  <div class="card-container">
    <% @yachts.each do |yacht| %>
      <div class="card-wrapper">
        <div class="card">
          <div class="card-front">
            <p><%= yacht.name %></p>
            <%= image_tag "yacht_loc.jpg", class: "yacht-img"%>
            <div class="card-price">
              <span><%= yacht.price%>€ / day</span>
            </div>
            <i class="arrow-icon fas fa-arrow-right"></i>
          </div>
          <!--link to yacht show-->
          <div class="card-back">
            <%= link_to 'Rent this yacht', yacht_path(yacht), class: "btn" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
